imageio==2.6.1
imageio-ffmpeg==0.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
matplotlib==3.0.3
moviepy==1.0.1
numpy==1.18.1
Pillow==7.0.0
protobuf==3.11.3
pyparsing==2.4.6
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0
tensorflow-gpu==1.14.1
tqdm==4.42.1
